DJANGO_SECRET_KEY="django-insecure--tqbgs69bw5cfgr55_y&tjy0fu#f@&!b99*mxyx=ry3#s=^wze"
DJANGO_ALLOWED_HOSTS="localhost,127.0.0.1,0.0.0.0"

POSTGRES_DB="mydb"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="123123"  # CHANGE IT!
# db if starting in compose localhost if db in container and django local
POSTGRES_HOST="localhost" 
POSTGRES_PORT="5432"